.events{


.carousel-container {
    width: 40vw;
    height: 60vh;
    // background: #d000ff;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100vw;
}


// .slide {
//     min-width: 100%;
//     width: 4vw;
// }

.slide img {
    width: 100%;
    height: 100%;
}

.next , .previous {
    padding: 1vh 2vw;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.next{
    right:0px ;
}
.previous{
    left:0 ;
}

.indicators-grp{
    width: 100%;
    padding: 2vh 0;
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.indicator{
    // padding: 0.3vh 1vw;
    width: 15px;
    height: 15px;
    background: $cold-gray;
    border-radius: 50%;
}
.activeIndicator{
    background-color: #ce1212;
}
}