@font-face {
    font-family: amantic;
    src: url('../../../../public/Fonts/Amatic_SC/AmaticSC-Bold.ttf');
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $light-background-color;
    // padding: 1;
    

    .title{
        font-family: amantic;
        font-size: 64px;
        color: #37373f;
        padding: 0 30vw 0 0;
    }
    p{
        color: #606264;
        font-size: 20px;
        
    }
    .book-btn{
        padding: 1.5vh 4vh;
        border: none;
        background-color: #ce1212;
        color: white;
        border-radius: 25px;
    }
    .book-btn:hover{
        background-color: hsla(0, 84%, 44%, 0.9);
    }
    .buttons{
        display: flex;
        gap: 2vw;
        align-items: center;
        
    }
    a{
        color: #212529;
        font-weight: 600;
    }
    a:hover{
        color: #ce1212;
        cursor: pointer;
    }
    a:before{
        content:"";
        margin-right: 10px;
        background: url('../../../../public/images/play.svg') no-repeat;
        background-size: contain;
        height: 30px ;
        width: 30px ;
        float: left;
    }
    .hero-section-image{
        img{
            width: 90%;
        }
        animation: bounce 3s infinite linear;
        position: relative;
    }
    @keyframes bounce {
        0% {transform: translateY(-2vh);}
        50% {transform: translateY(2vh);}
        100% {transform: translateY(-2vh);}
    }

    .backdrop2{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.543);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 999;
    img{
        width: 50vw;
    }
    .video-close{
        position: absolute;
        top: 15vh;
        right: 0vh;
    }
}


    .carousel-container {
        width: 40vw;
        height: 60vh;
        position: relative;
        overflow: hidden;
    }
    
    .carousel {
        display: flex;
        transition: transform 0.5s ease;
    }
    
    
    .slide {
        min-width: 100%;
    }
    
    .slide img {
        width: 80%;
        height: 100%;
    }
    
    .next , .previous {
        padding: 1vh 2vw;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // background-color: transparent;
        // border: none;
        // font-size: 30px;
    }
  
    
    .next{
        right:10px ;
    }
    .previous{
        left:10px ;
    }
    
    // .indicators-grp{
    //     width: 100%;
    //     padding: 2vh 0;
    //     position: absolute;
    //     bottom: 10%;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     gap: 10px;
    // }
    // .indicator{
    //     padding: 0.3vh 1vw;
    //     background: rgb(0, 0, 0);
    //     border-radius: 10px;
    // }
    // .activeIndicator{
    //     background-color: aliceblue;
    // }

}

@media (max-width: 425px){
    .hero-section{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2vh;
        padding-left: 5vw;
        .title{
            font-size: 30px;
            width: 80%;
        }
        .hero-section-image{
            padding-top: 20vh;
        }
    }
    
    
}